header, main, section, footer {
    padding: 1rem;
}
.wrap {
    max-width: 1092px;
    height: 129px;
    margin-top: 1rem;
    margin: 0 auto;
    flex-direction: column;
    }
    
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 20%;
}
nav {
    text-align: center;
    justify-content: center;
}
nav a {
    text-decoration: none;
    margin: 0 0.4rem;
    color:  rgb(250, 24, 24);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.search {
    display: flex;
    justify-content:right;
    gap: 1rem;
    
}
.arama {
    display: flex;
    align-items: center;
}
.arama input {
    display: flex;
    width: 6rem;
    height: 2rem;
    border: 1px solid white;
    cursor: pointer;
    background: white;
    color: gray;
    box-shadow: 0 2px 9px -3px rgb(0, 0, 0), 0 9px 10px -2px rgb(0, 0, 0);
}
.arama i {
    display: flex;
    position: absolute;
    margin-left: 5rem;
    margin-top: 0;
}
.bell {
    margin-top: 1rem;
    color: blac;
}
.profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid none;
    box-shadow: 0 2px 5px -3px rgb(0, 0, 0), 0 5px 8px -2px rgb(0, 0, 0);
}

.hero-content {
    width: 1092px;
    padding-left: 1rem;
    margin-top: 1rem;
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee8dcd73-06e0-40fb-b9ce-13a91be98b17/dg8qbvr-a5495578-294b-4a30-86d8-2800177d4c65.jpg/v1/fill/w_1280,h_720,q_75,strp/lord_of_the_rings_hd_wallpapers_by_3dculture_dg8qbvr-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWU4ZGNkNzMtMDZlMC00MGZiLWI5Y2UtMTNhOTFiZTk4YjE3XC9kZzhxYnZyLWE1NDk1NTc4LTI5NGItNGEzMC04NmQ4LTI4MDAxNzdkNGM2NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JUDY_dFe54W5lz0kqwLeQfq97bQCgmDv7ejEh5jfJDg");
    box-shadow: 0 2px 9px -3px rgb(0, 0, 0), 0 9px 10px -2px rgb(0, 0, 0);
opacity: 0.8;
background-size: cover;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(250, 24, 24);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.movie-info {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: blanchedalmond;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .user-ratings {
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
    
  }
  .imdb {
    color: gray;
  }
  .imdb-rating{
    margin-right: 2rem;
  }
  .maturity-rating{
    border: 1px solid wheat;
    width: 2rem;
    border-radius: 0.3rem;
    text-align: center;
    margin-right: 1rem;
  }
.duration{
font-weight: bold;
}
.movie-description {
    margin-right:  50%;
    margin-bottom: 1rem;
    color:wheat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.highlight {
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}
.movie-details ul {
    list-style-type: none;
    margin-bottom: 1rem;
    color: wheat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.btn{
    display: flex;
    text-align: center;
}
.btn i {
    position: absolute;
    height: 3rem; 
    margin-left: 1rem; 
    align-content: center; 
    color: white;
}
.movie-button{
    width: 10rem; 
    height: 3rem;
    background-color: red; 
    color: white;
    border: rgb(117, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    box-shadow: 0 2px 9px -3px rgb(0, 0, 0), 0 9px 10px -2px rgb(0, 0, 0);
}
section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: red;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-section a {
    color: red;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.header-section h2 {
    margin: 0;
    font-size: 1rem;
}
.movie-container {
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.movie-card {
    border: 1px solid none;
    padding: 3rem 5rem 1rem 1rem; !important
    text-align: left;
    color: white;
    background-size: cover;
    width: 30%;
    box-shadow: 0 2px 9px -3px rgb(0, 0, 0), 0 9px 10px -2px rgb(0, 0, 0);
 }
 .movie-card h3 {
    color: rgb(117, 0, 0);
    text-shadow: 2px 2px 4px rgb(116, 108, 94);
    
 }

.popular .movie-card:first-child {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMTkyMzQzNzk0Nl5BMl5BanBnXkFtZTcwMjI2MjY0NA@@.jpg");


}
.popular .movie-card:nth-child(2) {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMTQ2NDg4OTg0NF5BMl5BanBnXkFtZTgwNTg0MzQ4MDE@._V1_QL75_UX328_.jpg");
}
.popular .movie-card:last-child {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMTc2NDA0NzI1OV5BMl5BanBnXkFtZTcwNTQ4NjgyMw@@.jpg");
}

.recommended .movie-card:first-child {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMTQ0MzA4ODY2MF5BMl5BanBnXkFtZTcwMTgxNTUxMw@@._V1_QL75_UX320_.jpg");
}
.recommended .movie-card:nth-child(2) {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMjIzMjM3NjUzMV5BMl5BanBnXkFtZTcwNjQ0NjcxNA@@._V1_QL75_UX332_.jpg");
}
.recommended .movie-card:last-child {
    background-image: url("https://m.media-amazon.com/images/M/MV5BMTI3ODA1ODkwN15BMl5BanBnXkFtZTcwODQ0OTk1Mw@@._V1_QL75_UX820_.jpg");
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 14px;
    border-top: 1px solid black;

}

/* Footer Yardım ve Bilgi Alanı */
.footer-helps {
    width: 40%;
    padding-right: 1rem;
}

.footer-helps nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-helps a {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

.footer-helps a:hover {
    color: #007bff;
}

.footer-helps p {
    margin-top: 2vh;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-socials p {
    margin-bottom: 1.2vh;
    font-weight: bold;
}

.footer-socials img {
    width: 30px;
    height: 26px;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

.view-all {
    display: card-container;
    justify-items: end;
    margin: auto;
    margin-right: 1vh;
}

.apps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.apps p {
    margin-bottom: 1vh;
    font-weight: bold;
}

.apps img {
    width: 120px;
    height: auto;
    margin: 5px 0;
    display: inline-block;
}

.section-header {
    display: flex;
}

.section-header a {
    margin-top: 35px
}
@media (max-width:950px) and (min-width:400px) {
    body {
        margin: 0;
        padding: 0;
        
    }
    header {
position: relative;
    }
    header nav {
        position: absolute;
        top: 70%;
        right: 30%;
    }
.hero-content {
width: 100%;
max-width: none;
}
section{
    padding: 1rem;
}

.movie-container {
    flex-wrap: wrap;
}

.movie-card {
    width: 45%;
    margin-bottom: 2rem;
}

footer {
    flex-wrap: wrap;
}

.footer-helps {
    width: 100%;
    margin-bottom: 1.5rem;
}

.social-icons {
    display: flex;
}

}